# Generic
*~
*.o
*.a
*.so
*.tmp

# Created by Dolphin file manager
.directory

# Doxygen documentation
src/doxygen

# Executables
src/range/range
src/detsc
src/rice/rice
src/tsc

# Tsc files
*.tsc
*.tsc.sam
