# General
*~
*.o
*.a
*.so
*.tmp

# Created by Dolphin file manager
.directory

# Doxygen documentation
src/doxygen

# Executables
src/arithcodec/arith
src/detsc
src/ricecodec/rice
src/tsc
framework/arithcodec/arith
framework/detsc
framework/ricecodec/rice
framework/tsc

